/* these are the styles applied to everything in the body of all pages  */

/* this is the background colour and the font colour for the heading and subheading */
body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(132, 179, 36);

}

/* this is for the navigation bar this puts gaps above and below the nav bar */
nav {
    padding-top: 20px;
    padding-bottom: 20px;

}

h2{
    text-align: center;
}

/* this part of codeing is for the border of each link  */
a {
    border-color: black;
    border-style: solid;
}


/* this is for image1 and telling it where to be on the screen  */
.img1 {
    width: 40%;
    float: left;
    margin-bottom: 40px;
}

/* this is telling the infomation where to be  */
.content {
    width: 60%;
    float: left;
    margin-bottom: 40px;

}


/* this is the colour of the paragraphs */
p {
    color: rgb(98, 134, 25);
    font-family: "oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
   
}


/* this is the design for the fotter it is the background colour and the font colour and the space that is left inbetween */
footer {
    clear: both;
    background-color: rgb(93, 93, 93);
    color: aliceblue;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100px;
}


/* heading size */
h1 {
    font-size: 50px;
}


/* this is for the navigation bar it is the style and the code for the hover feature */
a:link,
a:visited {

    background-color: darkolivegreen;
    color: aliceblue;
    text-align: center;
    display: inline-block;
    box-shadow: 1px 2px 5px rgb(9, 0, 0);

    font-size: 15px;

    padding: 10px;

    border-radius: 5px;
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: darkolivegreen;

}