body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-style: bold;
    border-color: blueviolet(93, 0, 255);
    border-width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: Ergb(82, 105, 81);



}